/chrome-data/
/venv/
/.idea
/SeleniumIDE_Test/
/userdata/Profile 8/Extension State/000003.log
/userdata/Profile 8/Local Storage/leveldb/000003.log
/userdata/Profile 8/Session Storage/000003.log
/userdata/Profile 8/Site Characteristics Database/000003.log
/userdata/Profile 8/Sync Data/LevelDB/000003.log
/userdata/BrowserMetrics/BrowserMetrics-60C339FB-179C.pma
/userdata/chrome_debug.log
/userdata/Profile 8/Cookies
/userdata/Profile 8/Cookies-journal
/userdata/CrashpadMetrics-active.pma
/userdata/Profile 8/Extension State/CURRENT
/userdata/Profile 8/Local Storage/leveldb/CURRENT
/userdata/Profile 8/Session Storage/CURRENT
/userdata/Profile 8/Site Characteristics Database/CURRENT
/userdata/Profile 8/Sync Data/LevelDB/CURRENT
/userdata/GrShaderCache/GPUCache/data_0
/userdata/Profile 8/Cache/data_0
/userdata/Profile 8/GPUCache/data_0
/userdata/ShaderCache/GPUCache/data_0
/userdata/GrShaderCache/GPUCache/data_1
/userdata/Profile 8/Cache/data_1
/userdata/Profile 8/GPUCache/data_1
/userdata/ShaderCache/GPUCache/data_1
/userdata/GrShaderCache/GPUCache/data_2
/userdata/Profile 8/Cache/data_2
/userdata/Profile 8/GPUCache/data_2
/userdata/ShaderCache/GPUCache/data_2
/userdata/GrShaderCache/GPUCache/data_3
/userdata/Profile 8/Cache/data_3
/userdata/Profile 8/GPUCache/data_3
/userdata/ShaderCache/GPUCache/data_3
/userdata/DevToolsActivePort
/userdata/Profile 8/Favicons
/userdata/Profile 8/Favicons-journal
/userdata/First Run
/userdata/Profile 8/History
/userdata/Profile 8/History-journal
/userdata/GrShaderCache/GPUCache/index
/userdata/Profile 8/Cache/index
/userdata/Profile 8/Code Cache/js/index
/userdata/Profile 8/Code Cache/wasm/index
/userdata/Profile 8/GPUCache/index
/userdata/ShaderCache/GPUCache/index
/userdata/Last Version
/userdata/Local State
/userdata/Profile 8/Extension State/LOCK
/userdata/Profile 8/Local Storage/leveldb/LOCK
/userdata/Profile 8/Session Storage/LOCK
/userdata/Profile 8/Site Characteristics Database/LOCK
/userdata/Profile 8/Sync Data/LevelDB/LOCK
/userdata/Profile 8/Extension State/LOG
/userdata/Profile 8/Local Storage/leveldb/LOG
/userdata/Profile 8/Session Storage/LOG
/userdata/Profile 8/Site Characteristics Database/LOG
/userdata/Profile 8/Sync Data/LevelDB/LOG
/userdata/Profile 8/Login Data
/userdata/Profile 8/Login Data-journal
/userdata/Profile 8/Extension State/MANIFEST-000001
/userdata/Profile 8/Local Storage/leveldb/MANIFEST-000001
/userdata/Profile 8/Session Storage/MANIFEST-000001
/userdata/Profile 8/Site Characteristics Database/MANIFEST-000001
/userdata/Profile 8/Sync Data/LevelDB/MANIFEST-000001
/userdata/Profile 8/Media History
/userdata/Profile 8/Media History-journal
/userdata/Crashpad/metadata
/userdata/Default/Preferences
/userdata/Profile 8/Preferences
/userdata/Profile 8/README
/userdata/Profile 8/Secure Preferences
/userdata/Crashpad/settings.dat
/userdata/Profile 8/Code Cache/js/index-dir/the-real-index
/userdata/Profile 8/Code Cache/wasm/index-dir/the-real-index
/userdata/Profile 8/Top Sites
/userdata/Profile 8/Top Sites-journal
/userdata/Profile 8/Visited Links
/userdata/Profile 8/Web Data
/userdata/Profile 8/Web Data-journal
